@using PersonalProject.InternalPortal.Services.Helpers
@model IEnumerable<PersonalProject.Domain.Entities.ApplicationDashboard>
@{
    ViewData["Title"] = "Application Dashboard";
}

<h1>Applications</h1>

<div>
    <a href="/Home/Index">Installer Dashboard</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Ref Number</th>
            <th>Postcode</th>
            <th>Status</th>
            <th>Flagged For Audit</th>
            <th>Review Recommendation</th>
            <th>Last Status Change</th>
        </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Application/EditStatus?refNumber=@item.RefNumber">@item.RefNumber</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlaggedForAudit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewRecommendation)
                    </td>
                    <td>
                        @item.LastStatusChangeDate.ToUiDateTimeFormat()
                    </td>
                </tr>
            }
        </tbody>
    }
</table>