@using PersonalProject.InternalPortal.Services.Helpers
@model IEnumerable<PersonalProject.Domain.Entities.InstallerDashboard>
@{
    ViewData["Title"] = "Installer Dashboard";
}

<h1>Installers</h1>

<p>
    <a href="/Home/ApplicationDashboard">View applications</a>
    <a href="Installer/Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Ref Number</th>
            <th>Installer Name</th>
            <th>Status</th>
            <th>Flagged For Audit</th>
            <th>Review Recommendation</th>
            <th>Last Status Change</th>
        </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Installer/EditStatus?refNumber=@item.RefNumber">@item.RefNumber</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstallerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlaggedForAudit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewRecommendation)
                    </td>
                    <td>
                        @item.LastStatusChangeDate.ToUiDateTimeFormat()
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
