@using PersonalProject.InternalPortal.Models.Users
@model UserDetailsViewModel
@{
    ViewData["Title"] = "Installer User Details";
}

<h1>Installer User Details</h1>
<h3 class="fw-light">(@Model.InstallerName, @Model.RefNumber)</h3>

<div>
    <a href="/">Installer Dashboard</a>
    <a href="#" class="link-dark"> > </a>
    <a href="/Installer/EditStatus?refNumber=@Model.RefNumber" > @Model.InstallerName</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.Users.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>
                                <a href="../Users/Edit?userId=@item.Id">@item.Email</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Roles.First())
                            </td>
                            <td>
                                @if (item.IsObselete)
                                {
                                    <p class="text-bg-secondary">Deleted</p>
                                }
                                else
                                {
                                    <p class="text-bg-success">Active</p>
                                }
                            </td>
                            <td>
                                @if (item.IsObselete)
                                {
                                    <a href="../Users/Reactivate?userId=@item.Id">Reactivate user</a>
                                }
                                else
                                {
                                    if (item.Roles.First().Id == 1)
                                    {
                                        <a href="../Users/ReplaceUser?userId=@item.Id">Replace Auth Rep</a>
                                    }
                                    else
                                    {
                                        <a href="../Users/Delete?userId=@item.Id">Deactivate user</a>
                                    }

                                    @* if (InviteStatus != 1) *@
                                    <a href="#">Invite user</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>              
            </table>

            <br />
            <hr />
            <br />
            <h3>Add aditional users</h3>
            <br />
            <a class="btn btn-primary" href="../Users/Create" role="button">Add Aditional Users</a>
        }
        else
        {
            <a class="btn btn-primary" href="../Users/CreateAuthRep" role="button">Add Auth Rep</a>
        }       
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}