@using PersonalProject.InternalPortal.Models.Installers
@model EditInstallerViewModel
@{
    ViewData["Title"] = "Create Installer";
}

<h1>@Model.Status.RefNumber Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Edit Installer Status</h2>
        <br />

        <p><strong>Last edited by: </strong>@Model.Status.LastEditedBy</p>
        <p><strong>Last edited date: </strong>@Model.Status.LastEditedDate</p>

        @* <form method="post" asp-action="EditStatus"> *@
        @using (Html.BeginForm("EditStatus", "Installer", FormMethod.Post, new { statusModel = Model.Status }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="installer-ref" name="installer-ref" value="@Model.Status.RefNumber">

            <div class="form-group">
                <label asp-for="Status.StatusId" is="status-heading" class="control-label">Status</label>
                <select class="form-select" asp-for="Status.StatusId">
                    @foreach (var status in Model.InstallerStatuses!)
                    {
                        <option value="@status.Id">@status.Description</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Status.ReviewRecommendation" class="control-label">Review Recommedation</label>
                <br />
                <div class="form-check form-check-inline">
                    <label asp-for="Status.ReviewRecommendation" class="form-check-label">Pass</label>
                    <input asp-for="Status.ReviewRecommendation" class="form-check-input" value="true" type="radio" />
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Status.ReviewRecommendation" class="form-check-label">Fail</label>
                    <input asp-for="Status.ReviewRecommendation" class="form-check-input" value="false" type="radio" />
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Status.ReviewRecommendation" class="form-check-label">None</label>
                    <input asp-for="Status.ReviewRecommendation" class="form-check-input" value="null" type="radio" checked />
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Status.FlaggedForAudit" class="control-label">Flagged For Audit</label>
                <br />
                <div class="form-check form-check-inline">
                    <label asp-for="Status.FlaggedForAudit" class="form-check-label">Yes</label>
                    <input asp-for="Status.FlaggedForAudit" class="form-check-input" value="true" type="radio" />
                </div>
                <div class="form-check form-check-inline">
                    <label asp-for="Status.FlaggedForAudit" class="form-check-label">No</label>
                    <input asp-for="Status.FlaggedForAudit" class="form-check-input" value="false" type="radio" checked />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Edit Status" class="btn btn-primary" />
            </div>
        }
        @* </form> *@

        <br/>
        <hr/>
        <br/>

        <form method="post" asp-action="EditDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="appRef" name="appRef" value="@Model.Detail.RefNumber">
            <h2>Edit Installer Details</h2>
            <p><strong>Last edited by: </strong>@Model.Detail.LastEditedBy</p>
            <p><strong>Last edited date: </strong>@Model.Detail.LastEditedDate</p>

            <div id="businessDetails" class="form-group">
                <div class="col-12">
                    <label asp-for="Detail.InstallerName">Installer name</label>
                    <span asp-validation-for="Detail.InstallerName" class="text-danger"></span>
                    <input id="installerName" asp-for="Detail.InstallerName" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="Detail.CompanyNumber">Company number</label>
                    <span asp-validation-for="Detail.CompanyNumber" class="text-danger"></span>
                    <input id="companyNumber" asp-for="Detail.CompanyNumber" class="form-control" />
                </div>
            </div>
            <br />
            <div id="address" class="form-group">
                <div class="col-12">
                    <label asp-for="Detail.AddressLine1">Address Line 1</label>
                    <span asp-validation-for="Detail.AddressLine1" class="text-danger"></span>
                    <input id="addressLine1" asp-for="Detail.AddressLine1" class="form-control" placeholder="e.g 1234 Main St" />
                </div>
                <div class="col-12">
                    <label asp-for="Detail.AddressLine2">Address Line 2</label>
                    <span asp-validation-for="Detail.AddressLine2" class="text-danger"></span>
                    <input id="addressLine2" asp-for="Detail.AddressLine2" class="form-control" placeholder="(optional)">
                </div>
                <div class="col-md-6">
                    <label asp-for="Detail.AddressLine3">City/County</label>
                    <span asp-validation-for="Detail.AddressLine3" class="text-danger"></span>
                    <input id="addressLine3" asp-for="Detail.AddressLine3" class="form-control" placeholder="(optional)">
                </div>
                <div class="col-md-4">
                    <label asp-for="Detail.UPRN">UPRN</label>
                    <span asp-validation-for="Detail.UPRN" class="text-danger"></span>
                    <input id="uprn" asp-for="Detail.UPRN" class="form-control" placeholder="(optional)">
                </div>
                <div class="col-md-4">
                    <label asp-for="Detail.Postcode">Postcode</label>
                    <span asp-validation-for="Detail.Postcode" class="text-danger"></span>
                    <input id="postcode" asp-for="Detail.Postcode" class="form-control" placeholder="e.g. E14 5NY">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Edit Details" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a href="/">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}