@page "/installation-details"
@using PersonalProject.ConsentPortal.Services.Extensions
@model PersonalProject.ConsentPortal.Pages.Consent.DetailsModel
@{
    ViewData["Title"] = "Installation Details";
}

<h1>Installation Details</h1>

<p>The installer @Model.ConsentDetails.InstallerName has made an application for an installation at:</p>
<br />
<p>@Model.ConsentDetails.AddressLine1</p>
<p>@Model.ConsentDetails.Postcode</p>
<br />
<p>Please confirm the following to proceed:</p>
<form method="post" novalidate>


    <span asp-validation-for="InstallerConfirmed" class="text-danger"></span>
    @* <div class="form-check mb-3 @(ModelState.HasError("InstallerConfirmed") ? "is-invalid": null)"> *@
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" asp-for="@Model.InstallerConfirmed" id="installer-confirm-checkbox">
        <label class="form-check-label" for="installer-confirm-checkbox">
            The installation will be installed at the address listed above.
        </label>
        <div class="invalid-feedback">Example invalid feedback text</div>
    </div>

    <span asp-validation-for="PropertyDetailsConfirmed" class="text-danger"></span>
    <div class="form-check mb-3">
        <input class="form-check-input"  type="checkbox" asp-for="@Model.PropertyDetailsConfirmed" id="property-details-checkbox">
        <label class="form-check-label" for="property-details-checkbox">
            The installation at my property will be installed by @Model.ConsentDetails.InstallerName 
            and is a @Model.ConsentDetails.TechTypeDescription installation.
        </label>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Confirm details" class="btn btn-primary" />
    </div>
</form>